includes:
    - '%currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/extension.neon'

parameters:

    level: 3

    paths:
        - src
    reportUnmatchedIgnoredErrors: false

    scanFiles:
        - '%currentWorkingDirectory%/vendor/pimcore/pimcore/lib/helper-functions.php'
